<h22>課題入力フォーム</h22>
<%= form_with model: @task do |form| %>
  <div class = "kadaiform">
    <div class = "kadai">
      <%= form.label :タイトル %>
      <%= form.text_field :title %>
    </div>
    <div class = "kadai">
      <%= form.label :期限 %>
      <%= form.date_field :deadline %>
    </div>
    <div class = "kadai">
      <%= form.label :予想時間 %>
      <%= form.text_field :duration %>
    </div>
    <div class = "kadai">
      <%= form.label :説明 %>
      <%= form.text_area :description %>
    </div>
  </div>
  <div class = "submitbutton">
    <%= form.submit "送信"%>
  </div>
<% end %>